<a href="https://colab.research.google.com/github/EmKei75949/Python-Class/blob/main/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 051

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

# 052

movie_rank.append("배트맨")

print(movie_rank)

# 053

movie_rank.insert(1, "슈퍼맨")

print(movie_rank)

# 054

movie_rank.remove("럭키")

print(movie_rank)

# 055

movie_rank.pop()
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

print(lang1 + lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057

nums = [1, 2, 3, 4, 5, 6, 7]

print("min : ", min(nums))
print("max : ", max(nums))

min :  1
max :  7

In [ ]:
# 058

nums = [1, 2, 3, 4, 5]
a = sum(nums)

print(a)

15

In [ ]:
# 059

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [ ]:
# 060

nums = [1,2,3,4,5]

avg = sum(nums) / len(nums)

print(avg)

3.0

In [ ]:
# 061

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062

nums = [1,2,3,4,5,6,7,8,9,10]

print(nums[::2])

# 063

print(nums[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
# 064

nums = [1,2,3,4,5]

nums.reverse()

print(nums)

[5, 4, 3, 2, 1]

In [ ]:
# 065

interest = ['삼성전자', 'LG전자', 'Naver']

interest.pop(1)

print(interest)

['삼성전자', 'Naver']

In [ ]:
# 066

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest1 = " ".join(interest)

print(interest1)

# 067

interest2 = "/".join(interest)

print(interest2)

# 068

interest3 = "\n".join(interest)

print(interest3)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069

string = "삼성전자/LG전자/Naver"

interest = string.split('/')

print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 070

data = [2,4,3,1,5,10,9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]