<a href="https://colab.research.google.com/github/EmKei75949/Python-Class/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 021

letters = 'python'

print(letters[0], letters[2])

p t

In [ ]:
# 022

license_plate = "24가 2210"

print(license_plate[4:])

2210

In [ ]:
# 023

string = "홀짝홀짝홀짝"

print(string[0], string[2], string[4])

홀 홀 홀

In [ ]:
# 024

string = "PYTHON"

string_list = list(string)

print(string_list)

string_list.reverse()

print(string_list)

['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
# 025

phone_number = "010-1111-2222"

pn = phone_number.replace("-", " ")

print(pn)

# 026

pn_ad = pn.replace(" ", "")
print(pn_ad)

010 1111 2222
01011112222

In [ ]:
# 027

url = "http://sharebook.kr"

len(url)

url[17:19]

'kr'

In [ ]:
# 028

lang = 'python'

lang[0] = 'p'

print(lang)

TypeError: ignored

In [ ]:
# 029

string = 'abcdfe2a354a32a'

capital_a = string.replace('a', 'A')

print(capital_a)

Abcdfe2A354A32A

In [ ]:
# 030

string = 'abcd'

a = string.replace('b', 'B')

print(a)

aBcd

In [ ]:
# 031

a = '3'
b = '4'

print(a+b)

34

In [ ]:
# 032

print('Hi'*3)

HiHiHi

In [ ]:
# 033

print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
# 034

t1 = 'python'
t2 = 'java'

print((t1+" "+t2+" ")*4)

python java python java python java python java

In [ ]:
# 035

name1 = '김민수'

age1 = 10

name2 = '이철희'

age2 = 13

print('이름 :', name1, '나이 :', age1, ' 이름 :', name2, '나이 :', age2)

print("이름 : %s 나이 : %d  이름 : %s 나이 : %d" %('김민수', 10, '이철희', 13))

# 036

print('이름 : {0} 나이 : {1}  이름 : {2} 나이 : {3}'.format('김민수', '10', '이철희', '13'))

# 037

print(f'이름 : {name1} 나이 : {age1}  이름 : {name2} 나이 : {age2}')

이름 : 김민수 나이 : 10  이름 : 이철희 나이 : 13
이름 : 김민수 나이 : 10  이름 : 이철희 나이 : 13
이름 : 김민수 나이 : 10  이름 : 이철희 나이 : 13
이름 : 김민수 나이 : 10  이름 : 이철희 나이 : 13

In [ ]:
# 038

상장주식수 = "5,969,782,550"

a = 상장주식수.replace(",", "")

print(a)

print(type(a))

b = int(a)

print(b)

print(type(b))

5969782550
<class 'str'>
5969782550
<class 'int'>

In [ ]:
# 039

분기 = "2020/03(E) (IFRS연결)"

print(분기[0:7])

2020/03

In [ ]:
# 040

data = "  삼성전자  "

a = data.replace("  ","")
print(a)

삼성전자