<a href="https://colab.research.google.com/github/EmKei75949/Python-Class/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 071

my_variable = ()

In [ ]:
# 072

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 073

num = (1,)

In [ ]:
# 074

t = (1,2,3)
t[0] = 'a'

# 튜플에서는 변경이 불가능하다.

TypeError: ignored

In [ ]:
# 075

t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [ ]:
# 076

t = ('a', 'b', 'c')
t = ('A', 'B', 'C')

print(t)

('A', 'B', 'C')

In [ ]:
# 077

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 078

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
# 079

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 080

even = tuple(range(2, 100, 2))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
# 081

a, b, *c = (0, 1, 2, 3, 4, 5)
a
0
b
1
c
[2, 3, 4, 5]

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, b, c = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 082

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
# 083

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, c = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 084

temp ={}

In [ ]:
# 085

ice = {'메로나':1000, '폴라포':1200, '빵빠레':1800}

In [ ]:
# 086

ice = {'메로나':1000, '폴라포':1200, '빵빠레':1800}

ice["죠스바"] = 1200
ice["월드콘"] = 1500

print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격 : {}'.format(ice.get('메로나')))

메로나 가격 : 1000

In [ ]:
# 088

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 089

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

In [ ]:
# 090

>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']

# invalid syntax = 문법오류

SyntaxError: ignored